@import url("/styles/reset.css");
@import url("/styles/fonts.css");
@import url("/styles/buttons.css");
@import url("/styles/navbar.css");
@import url("/styles/inputs.css");

:root {
  --color-dark: #454a58;
  --color-success: #00CC66;
  --color-success-hover: #02a855;
  --color-danger: #E51A38;
  --color-light: #F7F7F9;
  --color-disabled: #c5c5ce;
  --color-input-invalid: #FDEDEF;
  --color-input-success: #def7eb;
  --box-shadow: 0 4px 4px rgba(82, 88, 106, 0.15);
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--color-dark);
}

body {
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 96px);
  padding: 0 176px;
}

.main-header-container {
  min-width: 1088px;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
}

.main-header-action {
  align-self: flex-end;
}

.main-header {
  font-family: "Kingthings Hand", sans-serif;
  font-size: 96px;
  color: #e51a38;
}

.main-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding-top: 6rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 88px 0 32px;
}

.article-header {
  font-size: 1.5rem;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  border: 1px solid #ececef;
  border-radius: 16px;
  box-shadow: var(--box-shadow);
}

.form-title {
  font-size: 16px;
  font-weight: 600;
}

.form-input-container {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.form-input-container .input-container {
  width: 50%;
}

.form-footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
