.input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.input-container .input-error-message {
  display: none;
  color: var(--color-danger);
  font-weight: 400;
  margin-top: -8px;
  &.show {
    display: block;
  }
}

.input {
  border: none;
  border-radius: 16px;
  background-color: var(--color-light);
  height: 56px;
  padding: 16px 32px;
  outline-color: var(--color-dark);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.input.input--invalid {
  background-color: var(--color-input-invalid);
  color: var(--color-danger);
  outline-color: var(--color-danger);
}

.input.input--success {
  background-color: var(--color-input-success);
  color: var(--color-success);
  outline-color: var(--color-success);
}

.input-container-select {
  position: relative;
  display: flex;
  align-items: center;
}

.input-select {
  width: 100%;
}

.input-select-icon {
  position: absolute;
  right: 0;
  height: 100%;
  width: 32px;
  background-color: var(--color-light);
  border-radius: 16px;
  display: inline-flex;
  align-items: center;
  height: calc(100% - 4px);
  margin-right: 2px;
}

.input-select-icon i {
  transition: rotate ease-in 0.1s;
}

.input-select:open + .input-select-icon i {
  rotate: 180deg;
}

.input-select-option {
  font-weight: 400;
  background-color: var(--color-light);
  padding: 1rem 2rem;
}
